
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <input placeholder ="email" value="{{email::input}}"></input>
    <input placeholder ="password" value="{{password::input}}"></input>
    <button on-click="login">Login</button>
    <span hidden$="{{!logged}}">Bienvenido de nuevo</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="ShowError"
   >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, logged: {
            type: Boolean,
            value: false
          }, id :{
            type: Number
          }
        };
      }
      manageAJAXResponse (data){
        console.log("manageAJAXResponse");
        console.log(data.detail.response);

        this.logged = true;

        window.location = "user/" + data.detail.response.idUsuario;
      }

      ShowError(error){
          console.log("Hubo un error");
          console.log(error);
      }

      login (){
        console.log("El usuario ha pulsado el botón");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición enviada");
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
