
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1>Sus Cuentas</h1>
    <!--
    <template is="dom-repeat" items="[[cuentas]]">
      <h1>Estas son mis cuentas</h1>

            <h3>IBAN  [[item.IBAN]]</h3>
            <h3>Saldo  [[item.Balance]]</h3>
          </br>
        </template>
    --> <h3>IBAN  [[cuentas.IBAN]]</h3>
        <h3>Saldo  [[cuentas.Balance]]</h3>

    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
   >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {  cuentas: {
            type: Array
          }
        };
      }
      showData(data){
        console.log("showData");
        console.log(data.detail.response);

        this.cuentas = data.detail.response;
    //   this.IBAN = data.detail.response[0].IBAN;
    //   this.Balance = data.detail.response[0].Balance;

      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
